// TODO Fonts


/* GLOBAL */
a, p, span, h1, h2, h3 {
  font-family: 'adelon-light';
  letter-spacing: 2px;
}
a {
  text-decoration: none;
  color: #000;
}
ul, li {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.grid-4 {
  width: 25%;
  display: inline-block;
}
::-webkit-scrollbar {
  display: none;
}

/* HEADER DESKTOP */
#header-desktop {
  box-sizing: border-box;
  width: 100%; height: 36px;
  position: fixed;
  top: 0; left: 0;
  padding: 9px 46px 0 46px;

  background-color: #fff;
  border-bottom: 1px solid #000;

  .grid-4 {
    a {
      font-size: 12px;
    }
    &.logo a {
      text-transform: uppercase;
      font-family: 'adelon-bold';
    }
    &.menu a {
      margin-right: 16px;
    }
    &.social {
      text-align: right;

      a {
        padding-left: 26px;
      }
    }
  }
}


/* HEADER MOBILE */
#header-mobile {
  display: none;
}


/* HOME */
#home.section {
  .main-background {
    width: 100%; height: 100%;
    background-position: center;
    background-size: cover;
  }
  .arrow {
    position: absolute;
    bottom: 64px;
    left: calc(50% - 32px);
    cursor: pointer;

    img {
      width: 32px;
    }
  }
}


/* LOCATION */
#location.section {
  .left, .right {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
  }
  .left {
    box-sizing: border-box;
    padding: 54px 46px;
    position: relative;

    .presentation {
      font-size: 18px;
      line-height: 20px;
      text-align: justify;
    }
    a {
      font-size: 14px;
      font-family: 'adelon-bold';
    }
    .proximity {
      position: absolute;
      bottom: 54px;
      width: 300px;

      p {
        font-size: 14px;
        font-family: 'adelon-bold';
      }
      .name, .opening {
        width: 50%;

        span {
          font-size: 11px;
        }
      }
      .name {
        float: left;
      }
      .opening {
        float: right;
      }
    }
  }
  .right {
    background-position: center;
    background-size: cover;
  }
}


/* PRICING */
#pricing.section {
  padding: 0 46px;
  display: table;
  width: 100%;

  .grid-4 {
    display: table-cell;
    width: 25%;
    vertical-align: middle;
    .price {
      font-family: 'adelon-bold';
      font-size: 48px;
    }
    .delay {
      font-family: 'din-medium';
      font-size: 14px;
    }

    p {
      max-width: 95%;
      color: black;
      font-size: 11px;
      line-height: 13px;

      span {
        color: #9b9b9b;
        font-family: 'din-light';

        &.supp {
          font-size: 9px;
        }
      }
    }

    a {
      margin-top: 78px;
      width: 205px;
      display: block;
      border: 1px solid #000;
      text-align: center;
      font-family: 'adelon';
      font-size: 10px;
      text-transform: uppercase;
      padding: 5px 0 3px 0;
    }
  }
}


/* QUESTIONS */
#questions.section {
  padding: 0 46px;

  .infos {
    vertical-align: top;
    margin-top: 72px;
    p {
      max-width: 95%;
      font-family: 'adelon';
      text-align: justify;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 2px;

      a {
        text-decoration: underline;
        font-family: 'adelon-bold';
      }
    }
  }
  .columns {
    height: 100%;

    h2 {
      position: absolute;
      top: 66px;
      font-family: 'adelon';
      font-size: 18px;
      text-transform: uppercase;
    }

    .container {
      box-sizing: border-box;
      overflow-x: hidden;
      position: relative;
      max-height: 100%;
      padding-top: 78px;
      padding-bottom: 312px;

      p {
        overflow-x: scroll;
        max-width: 95%;
        font-size: 11px;
        line-height: 13px;

        span {
          font-family: 'adelon-bold';
        }
      }
    }
  }
}


/* PHOTOGRAPHERS */
#displays.section {

}


/* CONTACT */
#infos.section {
  .container {
    box-sizing: border-box;
    padding: 0 46px;
    display: table;
    height: 100%;
    width: 100%;

    .left, .right, .helper {
      width: 25%;
      display: table-cell;
      vertical-align: middle;

      .center {
        height: 174px;

        .title {
          font-family: 'adelon-bold';
          font-size: 14px;
        }
        p {
          font-family: 'adelon-light';
          font-size: 11px;
          line-height: 13px;
        }
      }
    }
  }
}


/* REPSONSIVE */
@media screen and (max-width: 768px) {
  /* HEADER DESKTOP */
  #header-desktop {
    display: none;
  }

  /* HEADER MOBILE */
  #header-mobile {
    display: block;
  }
}
